In [1]:
######## ::: Scan input fasta and prepare data (promoter only, not full genome) ::: ########

In [2]:
#! conda install biopython

In [3]:
import re
import os
import sys
import math
import pickle
import pybedtools
import numpy as np
import pandas as pd
from Bio import SeqIO
from Bio.Seq import Seq
import tensorflow as tf
import multiprocessing as mp
from Bio.SeqRecord import SeqRecord
from Bio.Alphabet import generic_dna
from tensorflow.python.util import deprecation
deprecation._PRINT_DEPRECATION_WARNINGS = False # Supress tensorflow warning
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3' # Supress tensorflow warning

In [4]:
dir_path = os.path.dirname(os.path.realpath('prepare_data_prom.ipynb'))

In [5]:
def clean_seq(s):
    ns = s.upper()    
    pattern = re.compile(r'\s+')
    ns = re.sub(pattern, '', ns)
    ns = re.sub(r'[^a-zA-Z]{1}', 'N', ns)
    return ns

In [120]:
## read in fasta
fasta_dir = dir_path + "/../data/promoter/human_epdnew_hg38_noTATA.fa"
fasta = SeqIO.to_dict(SeqIO.parse(open(fasta_dir),'fasta'))

In [121]:
# convert seq to str and clean seq
fasta = {k+' '+v.description.split(' ')[1]: clean_seq(str(v.seq)) for k,v in fasta.items()}

In [122]:
def scan(idx, seq, half_size, key, strand, ref):
    subseq = seq[idx - half_size: idx + half_size + 1]
    
    # make index
    if strand == "-":
        idx1 = len(seq) - (idx + half_size) + 1
        idx2 = len(seq) - (idx - half_size) + 1
    else:
        idx1 = idx - half_size + 1
        idx2 = idx + half_size + 1
    
    chrom_num = "UNKNOWN"
    ref_idx = 0
    if ref is not None: # reference df in bed format, creating index
        gene = key.split(' ')[1]
        ref_idx = ref[ref['name'] == gene]['start'].item() - 5000
        chrom_num = ref[ref['name'] == gene]['chrom'].item()
        
    ck = "{}:{}-{} {} {}".format(chrom_num, idx1+ref_idx, idx2+ref_idx, key, strand)
    
    if not 'N' in subseq:
        return (ck, subseq)
    else:
        return None

In [123]:
# read in true TSS bed file
TSS_bed = pybedtools.BedTool(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA.bed")

In [124]:
TSS_bed_df = TSS_bed.to_dataframe()

In [125]:
TSS_bed_df.head()

  chrom    start      end       name  score strand
0  chr1   959255   959256    NOC2L_1      1      -
1  chr1   960632   960633   KLHL17_1      1      +
2  chr1   966481   966482  PLEKHN1_1      1      +
3  chr1   976680   976681    PERM1_1      1      -
4  chr1  1000510  1000511    ISG15_2      1      +

In [127]:
# multiprocessing
print("Number of processors: ", mp.cpu_count())
pool = mp.Pool(mp.cpu_count())

# globals
scan_step = 100
half_size = 500
batch_size = 128
start = half_size
cutoff = 0.5
proms = {}
scores = {}

i = 1
for key in fasta.keys():
#     print("* Processing " + key)
    print(i, end = " ")
    for strand in ["+", "-"]:
#         print("  {} strand".format("Positive" if strand == "+" else "Negative"))
        seq = fasta[key]
        if strand == "-": 
            seq = seq[::-1]
#         print("\t - Scanning...", end = " ")
        putative = pool.starmap(scan, [(i, seq, half_size, key, strand, TSS_bed_df) for i in range(start, len(seq) - half_size, scan_step)]) # multiprocessing
        putative = list(filter(None,putative)) # filter subseq with N
        proms.update({k: v for (k,v) in putative}) # store in dict
        coords = [k for (k,v) in putative] # store coordinates separately
        putative = [v for (k,v) in putative] # use only seq to predict
        probs = []
#         print("Done! Number of subsequences: {}".format(len(putative)))
    i+=1

        
pool.close()

In [63]:
delim = re.split('[^a-zA-Z0-9+-]',list(proms.items())[0][0])
delim

['chr17', '6072959-6073959', 'FP002372', 'WSCD1', '3', '+']

In [65]:
# create bed file of the scans
bed = []
for i, x in enumerate(list(proms)):
    delim = re.split('[^a-zA-Z0-9+-]',x)
    coords = re.split('-',delim[1])
    bed.append("{}\t{}\t{}\t{}\t1\t{}".format(delim[0],coords[0],coords[1],delim[2]+'_'+delim[3]+'_'+delim[4]+'_'+str(i),delim[5]))
with open(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan.bed", 'w+') as f:
    f.write('\n'.join(bed))

In [67]:
##### pybedtools #####
# read in true TSS bed file, and make true promoter file -500 to 500 
TSS_bed = pybedtools.BedTool(dir_path + "/../data/promoter/human_epdnew_hg38.bed")
true_prom_bed = TSS_bed.slop(g=dir_path + "/../data/genome/chrom.sizes",l=500,r=499) # -500 to 500

# read in scaned promoter bed files
prom_bed = pybedtools.BedTool(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan.bed")

In [68]:
# intersect to get label
# True
overlap_T = prom_bed.intersect(true_prom_bed,
                                s=True, # Require same strandedness.  That is, only report hits in that overlap A on the **same** strand.
                                f=0.5, # Minimum overlap required as a fraction of A
                                u=True, # Write the original A entry **once** if **any** overlaps found in B
                                r=True # Require that the fraction overlap be reciprocal for A AND B
                                )

# False
overlap_N = prom_bed.intersect(true_prom_bed, 
                                v=True, # Only report those entries in A that have **no overlaps** with B.
                                s=True, # Require same strandedness.  That is, only report hits in that overlap A on the **same** strand.
                                f=0.5, # Minimum overlap required as a fraction of A
                                r=True # Require that the fraction overlap be reciprocal for A AND B
                                )

In [69]:
len(overlap_T)

43352

In [70]:
len(overlap_N)

514478

In [113]:
assert len(prom_bed) == len(overlap_T) + len(overlap_N)

In [96]:
# convert to dataframe, annotate sequences and labels
overlap_T_df = overlap_T.to_dataframe()
overlap_T_df.drop('score', axis=1, inplace=True)
overlap_N_df = overlap_N.to_dataframe()
overlap_N_df.drop('score', axis=1, inplace=True)

# create label
overlap_T_df['label'] = 1
overlap_N_df['label'] = 0

# concatenate
overlap_df = pd.concat([overlap_T_df,overlap_N_df])

In [97]:
overlap_df.head()

   chrom    start      end                 name strand  label
0  chr17  6076959  6077959  FP002372_WSCD1_3_40      +      1
1  chr17  6077059  6078059  FP002372_WSCD1_3_41      +      1
2  chr17  6077159  6078159  FP002372_WSCD1_3_42      +      1
3  chr17  6077259  6078259  FP002372_WSCD1_3_43      +      1
4  chr17  6077359  6078359  FP002372_WSCD1_3_44      +      1

In [104]:
# add column of keys in overlap_df, to merge with proms (to get sequences)
overlap_df[['name_1','name_2','name_3','name_4']] = overlap_df['name'].str.split("_", expand = True)
overlap_df['keys'] = overlap_df['chrom']+':'+overlap_df['start'].apply(str)+"-"+overlap_df['end'].apply(str)+" "+ overlap_df['name_1'] + \
    " " + overlap_df['name_2'] + "_" + overlap_df['name_3'] + " " + overlap_df['strand']
overlap_df = overlap_df.drop(['name_1','name_2','name_3','name_4'], axis=1)

In [105]:
overlap_df.head()

,chrom,start,end,name,strand,label,keys
0,chr17,6076959,6077959,FP002372_WSCD1_3_40,+,1,chr17:6076959-6077959 FP002372 WSCD1_3 +
1,chr17,6077059,6078059,FP002372_WSCD1_3_41,+,1,chr17:6077059-6078059 FP002372 WSCD1_3 +
2,chr17,6077159,6078159,FP002372_WSCD1_3_42,+,1,chr17:6077159-6078159 FP002372 WSCD1_3 +
3,chr17,6077259,6078259,FP002372_WSCD1_3_43,+,1,chr17:6077259-6078259 FP002372 WSCD1_3 +
4,chr17,6077359,6078359,FP002372_WSCD1_3_44,+,1,chr17:6077359-6078359 FP002372 WSCD1_3 +

In [110]:
# merge with proms
proms_df = pd.DataFrame.from_dict(proms, orient = 'index', columns=['seq'])
overlap_df = overlap_df.merge(proms_df, left_on = 'keys', right_index = True)

In [114]:
overlap_df.to_csv(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan.csv")

In [6]:
# read in splitted test data files
tata_dev = pd.read_csv(dir_path + "/../data/promoter/tata_dev_199to300.tsv", sep="\t")
tata = pd.read_csv(dir_path + "/../data/promoter/TATA_199to300.csv", index_col=0)
tata['id'] = tata.index
tata = tata.merge(tata_dev, left_on='seq', right_on='setence')
tata_id = tata['id']

notata_dev = pd.read_csv(dir_path + "/../data/promoter/notata_dev_199to300.tsv", sep="\t")
notata = pd.read_csv(dir_path + "/../data/promoter/noTATA_199to300.csv", index_col=0)
notata['id'] = notata.index
notata = notata.merge(notata_dev, left_on='seq', right_on='setence')
notata_id = notata['id']

In [7]:
# read in scan data
tata_scan = pd.read_csv(dir_path + "/../data/promoter/human_epdnew_hg38_TATA_scan.csv", index_col=0)
tata_scan[['id','name_2','name_3','name_4']] = tata_scan['name'].str.split("_", expand = True)
tata_scan.drop(['name_2','name_3','name_4'],inplace=True, axis=1)
tata_scan_dev = tata_scan[tata_scan['id'].isin(tata_id)]
tata_scan_train = tata_scan[~tata_scan['id'].isin(tata_id)]

In [8]:
notata_scan = pd.read_csv(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan.csv", index_col=0)
notata_scan[['id','name_2','name_3','name_4']] = notata_scan['name'].str.split("_", expand = True)
notata_scan.drop(['name_2','name_3','name_4'],inplace=True, axis=1)
notata_scan_dev = notata_scan[notata_scan['id'].isin(notata_id)]
notata_scan_train = notata_scan[~notata_scan['id'].isin(notata_id)]

/home/yjq6148/.local/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [55]:
tata_scan_dev.to_csv(dir_path + "/../data/promoter/human_epdnew_hg38_TATA_scan_test.csv")
notata_scan_dev.to_csv(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan_test.csv")

In [ ]:
tata_scan_train.to_csv(dir_path + "/../data/promoter/human_epdnew_hg38_TATA_scan_train.csv")
notata_scan_train.to_csv(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan_train.csv")

In [ ]:
len(tata_scan_train[tata_scan_train['label'] == 1])

In [ ]:
# add additional training data

In [3]:
## prepare fasta for input for online tools
tata_scan_dev = pd.read_csv(dir_path + "/../data/promoter/human_epdnew_hg38_TATA_scan_test.csv", index_col=0)
notata_scan_dev = pd.read_csv(dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan_test.csv", index_col=0)

In [8]:
tata_recs = [SeqRecord(Seq(row['seq'],generic_dna),id=row['name'],description=row['keys']) for i,row in tata_scan_dev.iterrows()]
notata_recs = [SeqRecord(Seq(row['seq'],generic_dna),id=row['name'],description=row['keys']) for i,row in notata_scan_dev.iterrows()]

In [9]:
SeqIO.write(tata_recs, dir_path + "/../data/promoter/human_epdnew_hg38_TATA_scan_test.fa", "fasta")
SeqIO.write(notata_recs, dir_path + "/../data/promoter/human_epdnew_hg38_noTATA_scan_test.fa", "fasta")

491400